<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <title>WELCOME</title>
    <%- include layout/bootstrap %>
      <style media="screen">
        body {
          background-image: url("https://dewey.tailorbrands.com/production/brand_version_mockup_image/539/192002539_dc02c03e-47c5-43e7-a124-e15e84e64f69.png");
          background-repeat: no-repeat;
          background-attachment: fixed;
          background-position: center bottom;
          background-size: 30% auto;
        }
      </style>
  </head>

  <body>
    <%- include layout/header %>
      <div class="jumbotron" align=center>
        <div class="container">
          <h1>Welcome!</h1>
          <p>Sekolah Anti Gagal</p>
          <p>
            <%= name.toUpperCase() %>
          </p>
        </div>
      </div>

  </body>

</html>
